$a1-sans: 'a1', 'Helvetica Neue', 'Arial', 'sans-serif';
$a1-serif: 'a1-serif', 'Georgia', 'sans-serif', 'serif';
$lore: 'LORE';

:root {
    --a1-sans: #{$a1-sans};
    --a1-serif: #{$a1-serif};
    --lore: #{$lore};

    --font-size-xs: 0.75rem;
    --font-size-s: 0.875rem;
    --font-size-base: 1rem;
    --font-size-l: 1.125rem;

    --font-size-title-1: 4rem;
    --font-size-title-2: 3rem;
    --font-size-title-3: 2.25rem;
    --font-size-title-4: 2rem;
    --font-size-title-5: 1.5rem;

    @include media-breakpoint-down(sm) {
        --font-size-title-1: 2rem;
        --font-size-title-2: 2rem;
        --font-size-title-3: 1.5rem;
        --font-size-title-4: 1.5rem;
        --font-size-title-5: 1.5rem;
    }
}

@mixin text-style-desktop-body-xs() {
    font-size: var(--font-size-xs);
    font-family: var(--a1-sans);
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-desktop-body-xs-bold() {
    font-size: var(--font-size-xs);
    font-family: var(--a1-sans);
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-desktop-body-s() {
    font-size: var(--font-size-s);
    font-family: var(--a1-sans);
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-desktop-body-s-bold() {
    font-size: var(--font-size-s);
    font-family: var(--a1-sans);
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-desktop-body-base() {
    font-size: var(--font-size-base);
    font-family: var(--a1-sans);
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-desktop-body-base-bold() {
    font-size: var(--font-size-base);
    font-family: var(--a1-sans);
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-desktop-body-l() {
    font-size: var(--font-size-l);
    font-family: var(--a1-sans);
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-desktop-body-l-bold() {
    font-size: var(--font-size-l);
    font-family: var(--a1-sans);
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-desktop-title-1() {
    font-size: var(--font-size-title-1);
    font-family: var(--a1-serif);
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-desktop-title-2() {
    font-size: var(--font-size-title-2);
    font-family: var(--a1-serif);
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-desktop-title-3() {
    font-size: var(--font-size-title-3);
    font-family: var(--a1-serif);
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-desktop-title-4() {
    font-size: var(--font-size-title-4);
    font-family: var(--a1-serif);
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-desktop-title-5() {
    font-size: var(--font-size-title-5);
    font-family: var(--a1-serif);
    font-weight: 700;
    font-style: normal;
    line-height: 130%;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-desktop-handwritten-regular() {
    font-size: 1.125rem;
    font-family: var(--lore);
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-desktop-handwritten-bold() {
    font-size: 1.125rem;
    font-family: var(--lore);
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-mobile-handwritten-regular() {
    font-size: 0.875rem;
    font-family: var(--lore);
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-mobile-handwritten-bold() {
    font-size: 0.875rem;
    font-family: var(--lore);
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
}

.body-text-xs {
    @include text-style-desktop-body-xs();

    &--bold {
        @include text-style-desktop-body-xs-bold();
    }
}

.body-text-s {
    @include text-style-desktop-body-s();

    &--bold {
        @include text-style-desktop-body-s-bold();
    }
}

.body-text-base {
    @include text-style-desktop-body-base();

    &--bold {
        @include text-style-desktop-body-base-bold();
    }
}

.body-text-l {
    @include text-style-desktop-body-l();

    &--bold {
        @include text-style-desktop-body-l-bold();
    }
}

.title-h1 {
    @include text-style-desktop-title-1();
}

.title-h2 {
    @include text-style-desktop-title-2();
}

.title-h3 {
    @include text-style-desktop-title-3();
}

.title-h4 {
    @include text-style-desktop-title-4();
}

.title-h5 {
    @include text-style-desktop-title-5();
}
