.content-wrapper {
	all: inherit;
	position: relative;

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-color: rgba(255, 0, 0, 0.5);
		border: dashed 2px red;
		color: white;
		font-weight: bold;
		font-size: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
	}
}
